[user]
	name = Hendrik Makait
	email = hendrik@makait.com
[url "git@github.com:"]
	insteadOf = "https://github.com/"
[branch]
	sort = -committerdate
[fetch]
	prune = true
[credential]
	helper = osxkeychain
[core]
	editor = vim
[log]
	date = iso
[gpg]
	format = ssh
[init]
	defaultBranch = main
